<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        p {
          background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-loan-poster-background-material-image_154549.jpg");
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Prediction</title>
</head>
<body align ="center">
    <h1>!!! WELCOME TO THE BANK !!!</h1>
    <h1>Loan Prediction</h1>
    

    <form method="POST" action="/Loan_Prediction">
        <p>       
        <label>credit_policy:</label>
        <input type = "text" name = "credit_policy">
        </select>

        <br>
        <br>

        <label>purpose:</label>
        <select name = "purpose">
        <option value = "all_other">all_other</option>
        <option value = "small_business">small_business</option>
        <option value = "educational">educational</option>
        <option value = "major_purchase">major_purchase</option>
        <option value = "debt_consolidation">debt_consolidation</option>
        <option value = "home_improvement">home_improvement</option>
        <option value = "credit_card">credit_card</option>
        </select>
    

        <br>
        <br>

        <label>int_rate:</label>
        <input type = "text" name = "int_rate">
        </select>

        <br>
        <br>

        <label>installment:</label>
        <input type = "text" name = "installment">
        </select>

        <br>
        <br>
        <label>log_annual_inc:</label>
        <input type = "text" name = "log_annual_inc">
        </select>

        <br>
        <br>
        <label>dti:</label>
        <input type = "text" name = "dti">
        </select>

        <br>
        <br>
        <label>fico:</label>
        <input type = "text" name = "fico">
        </select>

        <br>
        <br>
        <label>days_with_cr_line:</label>
        <input type = "text" name = "days_with_cr_line">
        </select>

        <br>
        <br>
        <label>revol_bal:</label>
        <input type = "text" name = "revol_bal">
        </select>

        <br>
        <br>
        <label>revol_util:</label>
        <input type = "text" name = "revol_util">
        </select>

        <br>
        <br>
        <label>inq_last_6mths:</label>
        <input type = "text" name = "inq_last_6mths">
        </select>

        <br>
        <br>
        <label>delinq_2yrs:</label>
        <input type = "text" name = "delinq_2yrs">
        </select>

        <br>
        <br>
        <label>pub_rec:</label>
        <input type = "text" name = "pub_rec">
        </select>

        <br>
        <br>






        
        
        <br>
        <br>

        <input type = "submit" value="SUBMIT">

        <br>

        <p>Your loan status will be <b> {{ prediction }} </b> </p>


    </form>


</body>
</html>